html,
body,
#root {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
}

hr {
  display: block;
  margin: 50px 0;
  padding: 0;
  opacity: 0.2;
}

iframe {
  z-index: -9999;
}
